<div class="container-fluid new-farm">
  <div class="row">
    <div class="col-md-6" id="map">
      <!-- <div id="map" class="center-block"></div> -->
    </div>
    <div class="col-md-6 text-left">

      <%= form_for(farm) do |f| %>
        <% if farm.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(farm.errors.count, "error") %> prohibited this farm from being saved:</h2>

            <ul>
            <% farm.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <table class="table">

        <tr>
          <td>
            <%= f.label :name %>
          </td>
          <td>
            <%= f.text_field :name, class: "form-control" %>
          </td>
        </tr>

        <tr>
        <td>
          <%= f.label :farm_code, "Farm code (Optional)" %>
          </td>
          <td>
          <%= f.text_field :farm_code, class: "form-control" %>
        </td>
        </tr>

        <tr>
        <td>
          <%= f.label :size, "Size (ha)" %>
          </td>
          <td>
          <%= f.text_field :size, class: "form-control" %>
          </td>
        
        </tr>

        </table>

        <p>* please drag <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> on to your farm location</p>
        <table class="table">
        <tr>
        <td class="field input-lat" id="input-lat">
          <%= f.label :lat, "Latitude" %>
          </td>
          <td>
          <%= f.text_field :lat, class: "form-control", readonly: true %>
          </td>
        
        </tr>

        <tr>
          <td class="field input-lng">
            <%= f.label :lng, "Longitude" %>
          </td>
          <td>
            <%= f.text_field :lng, class: "form-control", readonly: true %>
          </td>
        </tr>

        </table>

        <div class="actions text-center">
          <%= f.submit 'Create', class: "btn" %>
          <%= link_to 'Cancel', user_farms_path, class: "btn cancel" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- <div id="map" class="center-block"></div> -->



<script>
  var map;
  var marker;
  var geocoder;
  var infowindow;

  function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 4.5076156, lng: 114.4846021},
      zoom: 10
    });

    marker = new google.maps.Marker({
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      position: {lat: 4.5076156, lng: 114.4846021}
    });
    // marker.addListener('click', toggleBounce);

    infowindow = new google.maps.InfoWindow({
      content: 'contentString'
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    marker.addListener('dragend', function (evt) {
      console.log(evt.latLng.lat() + ' ' + evt.latLng.lng());

      $('#farm_lat').val(evt.latLng.lat());
      $('#farm_lng').val(evt.latLng.lng());

      geocodePosition(marker.getPosition());

    
    });

  }


  function geocodePosition(pos) {
  geocoder.geocode({
    latLng: pos
  }, function(responses) {
    if (responses && responses.length > 0) {
      infowindow.setContent(responses[0].formatted_address);
    } else {
      infowindow.setContent('Cannot determine address at this location.');
    }
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.GGMAP_APP_KEY %>
&callback=initMap"
async defer></script>