<%= form_for(farm) do |f| %>
  <% if farm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farm.errors.count, "error") %> prohibited this farm from being saved:</h2>

      <ul>
      <% farm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :farm_code %>
    <%= f.text_field :farm_code %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lng %>
    <%= f.text_field :lng %>
  </div>
<!-- 
  <div class="field">
    <%= f.label :layout %>
    <%= f.text_field :layout %>
  </div> -->

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>


  <div class="farm-layout">
    <div class="draw-template"></div>
  </div>

  <section class="layout-template">
    <div class="farm-template square" data-template="square"></div>
    <!-- <div class="triangle"></div> -->
    <div class="farm-template circle" data-template="circle"></div>
  </section>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
