<section id="farm-index" class="container">
  <div class="row header-container">
    <div class='col-md-12'>
      <h1>Your Farms</h1>
    </div>
  </div>


<div class="row content-container">

  <div class="col-md-6" id="map">
    <!-- <div id="map"></div> -->
  </div>

  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Farm code</th>
          <th>Size (ha)</th>
          <th>Subfarms</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @farms.each do |farm| %>
          <tr>
            <td><%= farm.name %></td>
            <td><%= farm.farm_code %></td>
            <td><%= farm.size %></td>
            <td><%= farm.sub_farms.count %></td>
            <td><%= link_to raw('<i class="fa fa-eye" aria-hidden="true"></i>'), farm, title: "Show" %></td>
            <td><%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'), edit_farm_path(farm), title: "Edit" %></td>
            <td><%= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i>'), farm, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="text-center">
      <%= link_to 'New Farm', new_farm_path, class: "btn" %>
    </div>
    <br>
  </div>
</div>


</section>



<script>
  var map;
  var markers = [];

  function initMap() {
    var init_lat = <%= @farms.first.lat || 4.5076156 %>
    var init_lng = <%= @farms.first.lng || 114.4846021 %>
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: init_lat, lng: init_lng},
      zoom: 10
    });

    <% @farms.each do |farm| %>
      var marker = new google.maps.Marker({
        map: map,
        // draggable: true,
        animation: google.maps.Animation.DROP,
        position: {lat: <%= farm.lat %>, lng: <%= farm.lng %>}
      });

      google.maps.event.addListener(marker, 'click', function () {
        window.location.href = '/farms/<%= farm.id %>';
      });

    <% end %>

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= get_ggmap_key %>&callback=initMap"
async defer></script>