<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>



<div class="row">
  <div class="col-md-12">
    <div class="col-md-12" id="<%= farm.id %>-timeline-container" class="farm-timeline">
    </div>

  </div>

  <div class="col-md-12">
    <div class="col-md-6" id="notifications-container">
      <div id="alert-not">
        <h3 id="align-nots">Notifications</h3>
          <table id="alert-table" class="table table-responsive">
            <tr id="alert-date">
            <th>Date</th>
            </tr>
            <tr id="alert-rain">
            <th>Rain</th>
            </tr>
            <tr id="alert-wind">
            <th>Wind</th>
            </tr>
          </table>
      </div>
      <!-- <div class="panel panel-warning">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
          <p><a href="#">High probability of Disease 0-MK!</a></p>
          <p><a href="#">Lots of raining coming in 4 days!</a></p>
          <p><a href="#">High probability of Disease 0-MK!</a></p>
          <p><a href="#">Lots of raining coming in 4 days!</a></p>
          <p><a href="#">High probability of Disease 0-MK!</a></p>
          <p><a href="#">Lots of raining coming in 4 days!</a></p>
        </div>
      </div> -->
    </div>
    <div class="col-md-3 farm-render-container">
      <h2>3D Render</h2>
      <canvas class="farmPlot" width="300" height="300"></canvas>
    </div>

    <div class="col-md-3">
      <h2>Harvest Tracker</h2>
      <div class="harvest-tracker">
      </div>
    </div>

    <!-- <div class="col-md-3">
      <h2> Harvest Tracker </h2>
      <div style="width: 600px; height: 200px; margin: 0 auto">
        <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
        <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
      </div> 
    </div> -->
  </div>
     

      <div class="col-md-12" id="actions-container">
      <h3>Actions</h3>
      <div class="col-md-3">
        <button type="button" class="btn btn-default btn-lg water-btn" data-toggle="modal" data-target="#actionsModal" data-action="Water Crops">
          <i class="fa fa-tint" aria-hidden="true"></i><span class="hidden-sm"> Water Farm</span>
        </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default btn-lg fertilize-btn" data-toggle="modal" data-target="#actionsModal" data-action="Fertilize Farm">
          <i class="fa fa-medkit" aria-hidden="true"></i><span class="hidden-sm"> Fertilize Farm</span>
        </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default btn-lg chemical-btn" data-toggle="modal" data-target="#actionsModal" data-action="Apply Chemicals">
          <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Apply Chemicals</span>
        </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default btn-lg miscellaneous-btn" data-toggle="modal" data-target="#actionsModal" data-action="Miscellaneous">
          <i class="fa fa-question-circle" aria-hidden="true"></i><span class="hidden-sm"> Miscellaneous</span>
        </button>
      </div>
    </div>
</div>


<script>
  var lastActivity = '<%= raw @last_activities %>';
  var farmName = '<%= j farm.name %>';
  var subfarms = '<%= raw @subfarms %>';
  var dayToWater = '<%= raw @day_to_water %>';
  run_render(document.querySelector('.farmPlot'), JSON.parse(subfarms), JSON.parse(dayToWater));

  $(function() {
    createTimeline($("#<%= farm.id %>-timeline-container"), '', lastActivity);
    createHarvestTracker($('.harvest-tracker'));
    // $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    //   $($("#<%= farm.id %>-timeline-container")).highcharts().reflow();
    // });
  });
</script>

