<div class="row">
  <%= farm.name %>
  <div class="col-sm-8">
    <div class="col-md-12" id="<%= farm.id %>-timeline-container" class="farm-timeline">
    </div>
    <div class="col-sm-12" id="actions-container">
      <h3>Actions</h3>
      <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-lg water-btn" data-toggle="modal" data-target="#actionsModal" data-action="Water Crops">
          <i class="fa fa-tint" aria-hidden="true"></i><span class="hidden-sm"> Water Farm</span>
        </button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-lg fertilize-btn" data-toggle="modal" data-target="#actionsModal" data-action="Fertilize Farm">
          <i class="fa fa-medkit" aria-hidden="true"></i><span class="hidden-sm"> Fertilize Farm</span>
        </button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-lg chemical-btn" data-toggle="modal" data-target="#actionsModal" data-action="Apply Chemicals">
          <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Apply Chemicals</span>
        </button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-default btn-lg miscellaneous-btn">
          <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Miscellaneous</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="col-md-12" id="notifications-container">
      <div id="alert-not">
        <h3 id="align-nots">Notifications</h3>
          <table id="alert-table" class="table table-responsive">
            <tr id="alert-date">
            <th>Date</th>
            </tr>
            <tr id="alert-rain">
            <th>Rain</th>
            </tr>
            <tr id="alert-wind">
            <th>Wind</th>
            </tr>
          </table>
      </div>
      <!-- <div class="panel panel-warning">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
          <p><a href="#">High probability of Disease 0-MK!</a></p>
          <p><a href="#">Lots of raining coming in 4 days!</a></p>
          <p><a href="#">High probability of Disease 0-MK!</a></p>
          <p><a href="#">Lots of raining coming in 4 days!</a></p>
          <p><a href="#">High probability of Disease 0-MK!</a></p>
          <p><a href="#">Lots of raining coming in 4 days!</a></p>
        </div>
      </div> -->
    </div>
    <div class="col-md-12 farm-render-container">
      <h3>3D Render</h3>
      <canvas class="farmPlot"></canvas>
    </div>
  </div>
</div>
<script>
  var waterActivity = '<%= raw @water_activity %>';
  var fertilizerActivity = '<%= raw @fertilizer_activity %>';
  var chemicalActivity = '<%= raw @chemical_activity %>';
  var farmName = '<%= j farm.name %>';

  $(function() {
    createTimeline($("#<%= farm.id %>-timeline-container"), farmName, waterActivity, fertilizerActivity, chemicalActivity);
    // $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    //   $($("#<%= farm.id %>-timeline-container")).highcharts().reflow();
    // });
  });
</script>