<%= form_for([@farm, @sub_farm]) do |f| %>
  <% if @sub_farm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_farm.errors.count, "error") %> prohibited this @sub_farm from being saved:</h2>

      <ul>
      <% @sub_farm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :farm_id %>
    <%= f.text_field :farm_id, value: @farm.id, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :crop_id %>
    <%= f.text_field :crop_id, value: '1' %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :crop_weight %>
    <%= f.text_field :crop_weight %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :harvest_date %>
    <%= f.datetime_select :harvest_date %>
  </div>

  <div class="field">
    <%= f.label :layout %>
    <%= f.text_field :layout %>
  </div>

<div class="field">
    <%= f.text_field :x, :readonly => true %>
    <%= f.text_field :y, :readonly => true %>
    <%= f.text_field :width, :readonly => true %>
    <%= f.text_field :height, :readonly => true %>
</div>


<div class="farm-layout" ondragover="allowDrop(event)">
  <div class="draw-template"></div>
</div>


<section class="layout-template">
  <div class="farm-template square" data-template="square"></div>
  <!-- <div class="triangle"></div> -->
  <div class="farm-template circle" data-template="circle"></div>
</section>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
