<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <section class="draw-section">
<!--         <canvas id="farm-layout-show" class="farm-layout" width="400" height="400" style="border:1px solid #000000;">
          <div class="draw-template"></div>
        </canvas> -->
        <div class="farm-layout">
          <canvas id="farm-layout-show" class="farm-layout" width="400" height="400" style="border:1px solid #000000;">
          </canvas>
          <div class="draw-template"></div>
        </div>


        <section class="layout-template">
          <div class="farm-template square" data-template="square"></div>
          <!-- <div class="triangle"></div> -->
          <div class="farm-template circle" data-template="circle"></div>
        </section>
      </section>
    </div>

    <div class="col-md-5 text-left">
      <%= form_for([@farm, @sub_farm]) do |f| %>
        <% if @sub_farm.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@sub_farm.errors.count, "error") %> prohibited this @sub_farm from being saved:</h2>

            <ul>
            <% @sub_farm.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <table class="table">
          <tr>
          <td>
              <%= f.label :farm_id %>
          </td>
          <td>
              <%= f.text_field :farm_id, value: @farm.id, readonly: true %>
          </td>
          </tr>
        

          <tr>
          <td>
            <%= f.label :crop_id %>
          </td>
          <td>
            <%= f.text_field :crop_id, value: '1' %>
          </td>
          </tr>

          <tr>
          <td>
            <%= f.label :size %>
          </td>
          <td>
            <%= f.text_field :size %>
          </td>
          </tr>

          <tr>
          <td>
            <%= f.label :crop_weight %>
          </td>
          <td>
            <%= f.text_field :crop_weight %>
          </td>
          </tr>

          <tr>
          <td>
            <%= f.label :start_date %>
          </td>
          <td>
          <%= f.date_select :start_date %>
          </td>
          </tr>

          <tr>
          <td>
            <%= f.label :harvest_date %>
          </td>
          <td>
          <%= f.date_select :harvest_date %>
          </td>
          </tr>

          <tr>
          <td>
            <%= f.label 'Coordinate' %>
          </td>
          <td>
          <%= f.text_field :x, readonly: true, class: "box-lat-lng" %>
            <%= f.text_field :y, readonly: true, class: "box-lat-lng" %>
          </td>
          </tr>
          <tr>

          <td>
            <%= f.label 'Width/Height' %>
          </td>
          <td>
            <%= f.text_field :width, readonly: true, class: "box-lat-lng" %>
            <%= f.text_field :height, readonly: true, class: "box-lat-lng" %>
          </td>
          </tr>

        </table>
            

        <div class="actions">
          <%= f.submit 'Submit', class: "btn btn-default center-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function(){

    var farm = document.getElementById('farm-layout-show');
    var ctx = farm.getContext("2d");

    <% @farm.sub_farms.each do |subfarm| %>
      <% if subfarm.x and subfarm.y and subfarm.width and subfarm.height %>
        
        ctx.rect(<%= subfarm.x.to_f %>, <%= subfarm.y.to_f %>, <%= subfarm.x.to_f + subfarm.width.to_f %>, <%= subfarm.y.to_f + subfarm.height.to_f %>);
        ctx.stroke();
      <% end %>
    <% end %>
  });
</script>






