<div class="container-fluid">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#farm1" aria-controls="home" role="tab" data-toggle="tab">Farm 1</a></li>
    <li role="presentation"><a href="#farm2" aria-controls="profile" role="tab" data-toggle="tab">Farm 2</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="farm1">
      <div class="row">
        <div class="col-sm-8">
          <div class="col-md-12" id="timeline-container">
          </div>
          <div class="col-sm-12" id="actions-container">
            <div class="col-sm-3">
              <button type="button" class="btn btn-default btn-lg water-btn">
                <i class="fa fa-tint" aria-hidden="true"></i><span class="hidden-sm"> Water Farm</span>
              </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-default btn-lg fertilize-btn">
                <i class="fa fa-medkit" aria-hidden="true"></i><span class="hidden-sm"> Fertilize Farm</span>
              </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-default btn-lg chemical-btn">
                <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Apply Chemicals</span>
              </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-default btn-lg miscellaneous-btn">
                <i class="fa fa-flask" aria-hidden="true"></i><span class="hidden-sm"> Miscellaneous</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-md-12" id="notifications-container">
            <div class="panel panel-warning">
              <div class="panel-heading">Notifications</div>
              <div class="panel-body">
                <p><a href="#">High probability of Disease 0-MK!</a></p>
                <p><a href="#">Lots of raining coming in 4 days!</a></p>
                <p><a href="#">High probability of Disease 0-MK!</a></p>
                <p><a href="#">Lots of raining coming in 4 days!</a></p>
                <p><a href="#">High probability of Disease 0-MK!</a></p>
                <p><a href="#">Lots of raining coming in 4 days!</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12" id="farm-render-container">
            <canvas id="farmPlot"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="farm2">This is profile</div>
  </div>


  <!-- Tab panes -->
  <!-- <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="farm1">
      <div class="row">
        <div class="col-xs-6 col-md-5" id="farm-render-container">
          <canvas id="farmPlot"></canvas>
        </div>
        <div class="col-xs-6 col-md-5" id="notifications-container">
          <div class="panel panel-warning">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body">
              <p><a href="#">High probability of Disease 0-MK!</a></p>
              <p><a href="#">Lots of raining coming in 4 days!</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="actions-container">
          <button type="button" class="btn btn-default btn-lg">
            <i class="fa fa-tint" aria-hidden="true"></i> Water Farm
          </button>
          <button type="button" class="btn btn-default btn-lg">
            <i class="fa fa-medkit" aria-hidden="true"></i> Fertilize Farm
          </button>
          <button type="button" class="btn btn-default btn-lg">
            <i class="fa fa-flask" aria-hidden="true"></i> Apply Chemicals
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" id="timeline-container">
        fsaf
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="farm2">This is profile</div>
  </div> -->
</div>

<script>
  run_render();
</script>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> -->
