<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <%= javascript_include_tag "jquerytubular" %>
  <title>Amber</title>
</head>
<body>
  <div id="wrapper">
    <article class="homepage-article text-center">
      <h1>Welcome to Amber</h1>
      <p>We are the best farm management system in the world</p>

      <%= link_to 'Log in', farms_path, class: "btn btn-success" %>
      <%= link_to 'All users', users_path %>
    </article>
  </div>

  <script>
    $(function(){
      // alert();
      var options = { videoId: 'EBApHaNJjtg', start: 56 };
      $('#wrapper').tubular(options);
      // $('#wrapper').tubular({videoId: 'q7DexQ6j0xA'});
    });
  </script>
</body>
</html>

