<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crop.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @crop.duration %>
</p>

<%= link_to 'Edit', edit_crop_path(@crop) %> |
<%= link_to 'Back', crops_path %>
