<p id="notice"><%= notice %></p>

<h1>Weather Logs</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Lng</th>
      <th>Tmax</th>
      <th>Tmin</th>
      <th>Precip</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weather_logs.each do |weather_log| %>
      <tr>
        <td><%= weather_log.lat %></td>
        <td><%= weather_log.lng %></td>
        <td><%= weather_log.tmax %></td>
        <td><%= weather_log.tmin %></td>
        <td><%= weather_log.precip %></td>
        <td><%= weather_log.date %></td>
        <td><%= link_to 'Show', weather_log %></td>
        <td><%= link_to 'Edit', edit_weather_log_path(weather_log) %></td>
        <td><%= link_to 'Destroy', weather_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather Log', new_weather_log_path %>
