<nav id="custom-navbar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><div class="col-xs-1 logo"><img class="img-responsive" src="<%= image_path('amber-logo.png') %>" /></div>Amber</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if(session[:user_id]) %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboards <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% current_user.farms.each do |farm| %>
            <li><%= link_to farm.name, dashboard_path(farm), method: :get %>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Farm", '/user/farms' %></li>
        <li><%= link_to "Weather logs", weather_logs_path, method: :get %></li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <!-- User menu -->
        <% if(session[:user_id]) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Log out", session_path("current"), method: :delete %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Sign in", users_path() %></li>
        <% end %>
        <!-- End user menu -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>