<!DOCTYPE html>
<html>
  <head>
    <title>Amber - The Best Farm Management</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <script src="http://cdn.babylonjs.com/2-4/babylon.max.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">


    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

  </head>

  <body>
    <%= render 'layouts/nav' %>
    
    <%= yield %>
    
  <footer id="footer-homepage">
    <div>
      <ul id="footer-content">
      <li><a style="color:grey;">Terms&Conditions</a></li>
      <li>&copy;Amber</li>
      </ul>
    </div>
  </footer>
  </body>
</html>
